<nav>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About Us</a></li>
    <li><a routerLink="/facilities">Facilities</a></li>
    <li><a routerLink="/doctor-login">Doctor Login</a></li>
    <li><a routerLink="/patient-portal">Patient Portal</a></li>
    <li><a routerLink="/testimony">Testimony</a></li>
    <li><a routerLink="/contact">Contact Us</a></li>
    <li><a routerLink="/book-appointment">Book Appointment</a></li>
    <li><a routerLink="/medical-records">Medical Records</a></li>
    <li><a routerLink="/consult-doctor">Consult Doctor</a></li>

  </ul>
</nav>

<hr />

